.detail-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    /* perspective: 1000px; ◀ 3D 효과에 사용된다. */
}

.detail-container:hover {
    /*
        transform: 변화를 줄 수 있다. 여러 기능을 한꺼번에 적용하려면 띄어쓰기를 하면 된다.
        transform: translateX(75px) translateY(75px);
        
        translateX: 가로로 움직임
        -숫자px: 왼쪽으로 움직임
        +숫자px: 오른쪽으로 움직임

        translateY: 세로로 움직임
        -숫자px: 위쪽로 움직임
        +숫자px: 아래쪽으로 움직임

        translateZ: 3D 효과에 사용된다.
        translateZ 는 주로 rotate 와 같이 쓰인다.
        deg: degree(각도) 의 줄임말

        rotateX(50deg): X 축을 기준으로 50 도 회전하는 것
        rotateY(50deg): Y 축을 기준으로 50 도 회전하는 것

        0deg: 회전하지 않은 상태
        90deg: 직각으로 회전한 상태
        180deg: 반대 방향으로 회전한 상태
        360deg: 원래 위치로 돌아온 상태
    */
    /* transform: translateY(10px); */
    background-color: lightslategray;
    color: white;
}

.detail-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.detail-container p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5; /* line 별 세로 크기 조정(간격) */
    margin: 10px 0;
}

.detail-container input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em; /* == 16px */

    /* 
        box-sizing: 태그의 전체 넓이와 높이를 어떻게 계산할 것인지 설정하는 속성이다. 
        - border-box: 넓이와 높이에 텍스트, 이미지, 패딩, 보더까지 포함하여, 전체적으로 계산해준다.
        - content-box: 넓이와 높이가 텍스트, 이미지와 같은 내용만 계산하여, 유동적으로 박스 크기를 설정해준다.
    */
    box-sizing: border-box;

    transition: transform 0.3s ease;
}

.detail-container input:hover, 
.detail-container textarea:hover {
    transform: translateY(5px)
}

.detail-container button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #28A745;
    color: white;
    font-size: 1em;
    cursor: pointer;

    /* transition: 각 효과마다 변화되는 시간을 다르게 설정하고 싶을 때 사용한다. */
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

.detail-container button:hover {
    background-color: #218838;
    font-size: 20px;
}